@chsrset"utf8";

body {
    margin: 0px;
    padding: 0px;
    background-image: url(../_img/Layer1.png);
    background-repeat: no-repeat;
}

div#header {
/*    background: #054;*/
    display: block;
    width: 1062;
    height: 251;
    margin: auto;
    padding: 1px;
}

div#logo {
/*    background: #987;*/
    width: 221px;
    height: 33px;
/*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/
    position: relative;
    left: 58px;
    top: 185px;
    /*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/
}

div#Shape1 {
/*    background: #365;*/
    width: 1px;
    height: 60px;
    /*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/
    position: relative;
    left: 325px;
    top: 136px;
    /*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/
}

div#slogan {
/*    background: #467;*/
    width: 263px;
    height: 24px;
    /*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/
    position: relative;
    left: 383px;
    top: 94px;
    /*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/
}

/*@@@@@@@-FIM HEADER-@@@@@*/

div#corpo {
    width: 1060px;
    height: 400px;
    margin: auto;
    border-radius: 6px;
    background-color:  rgba(255, 255, 255, 0.3);
    box-shadow: 5px 9px 20px 0px rgba(19, 19, 19, 0.15);
    position: absolute;
    left: 0px;
    top: 251px;
}

div#bgcasa {
    width: 45px;
    height: 45px;
    position: relative;
    left: 49px;
    top: 8px;
    border-radius: 6px;
    background-color:  rgba(0, 0, 0, 0.2);
}

.casa {
    width: 19px;
    height: 18px;
     /*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/    
    left: 13px;
    top: 15px;
    position: relative;
    /*    ESSES TRES PARAMETROS É REFERENTE A POSIÇÂO XY*/
    
}

nav#menu {
    width: 1462px;
    height: 45px;
    position: relative;
    left: 120px;
    top: -30px;
}

nav#menu ul {
    width: 932;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav#menu li {
    font-family: 'Roboto', sans-serif;
    display: inline;
    padding: 10px;
    margin: 10px;   
    font-size: 16px;/* Aproximação devido à substituição de fonte */
    font-weight: 300;
    line-height: 34px;/* Aproximação devido à substituição de fonte */
    text-align: center;
    
    }

nav#menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav#menu li a:hover {
    font-family: 'Roboto', sans-serif;
    display: inline;
    padding: 10px;
    margin: 3px;
    border-radius: 6px;
    background-color: #fff;
    color: black;      
    font-size: 16px;/* Aproximação devido à substituição de fonte */
    font-weight: 300;
    line-height: 34px;/* Aproximação devido à substituição de fonte */
    text-align: center;
}

/*@@@-FIM NAV MENU@@@@@@*/